.cssScrollTop {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	color: #ffffff;
	visibility: hidden;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align:center;
	transition-property: all;
	cursor: pointer;
}

.cssScrollTop.cssScrollTop-on {visibility: visible;}

.fade{opacity: 0;}

.cssScrollTop-on.fade{opacity: 1;}

.rightToLeft {right : -50px;}

.cssScrollTop-on.rightToLeft{right: 1rem;}

.bottomToTop {bottom: -50px;}

.cssScrollTop-on.bottomToTop {bottom:1rem;}

.cssScrollTop-leftToRight {left: -50px;}

.cssScrollTop-on.leftToRight {left:1rem;}

.topToBottom {top: -50px;}

.cssScrollTop-on.topToBottom {top:1rem;}
